.header-18 {
	.header-wrap {
		position: relative;
	}
	
	.desktop-menu & {
		.branding {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		
		.header-right {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		
		.menu--primary {
			position: static;
			text-align: center;
		}
	}
	
	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
		}
		
		.branding {
			flex-grow: 1;
		}
		
		.header-right {
			flex-shrink: 0;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-18 {
		.desktop-menu & {
			.branding {
				left: 50px;
			}
			
			.header-right {
				right: 50px;
			}
		}
	}
}

@media (min-width: 1420px) {
	.header-18 {
		.desktop-menu & {
			.branding {
				left: 100px;
			}
			
			.header-right {
				right: 100px;
			}
		}
	}
}
