/*!
Theme Name: leomes Child Demo
Theme URI: http://leomes.thememove.com/
Author: ThemeMove
Author URI: http://thememove.com/
Version: 1.0.0
Template: leomes
Text Domain:  leomes
Tags: editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
*/.tm-demo-options-wrapper{position:fixed;top:0;right:-350px;background:#fff;height:100%;width:350px;z-index:100000;font-size:16px;-webkit-transition:all .5s;transition:all .5s}.tm-demo-options-wrapper.open{right:0;box-shadow:-3px 0 50px -2px rgba(0,0,0,.14)}.tm-demo-options-wrapper .tm-demo-options-toolbar{position:absolute;top:200px;right:100%;display:block;width:40px;line-height:60px;border:1px solid #eee;border-right:0;border-radius:5px 0 0 5px;background:#fff;text-align:center;font-size:22px;box-shadow:-3px 0 10px -2px rgba(0,0,0,.1)}.tm-demo-options-wrapper .tm-demo-options-toolbar a{display:block;width:40px;height:40px;line-height:40px}.tm-demo-options-wrapper .tm-demo-options-toolbar i{font-size:20px}.tm-demo-options-wrapper .tm-btn-purchase{margin-bottom:30px}.tm-demo-options-wrapper .tm-demo-panel-header{padding:40px 30px 30px;text-align:center}.tm-demo-options-wrapper .tm-demo-panel{height:100%;overflow-x:auto;padding-bottom:55px}.tm-demo-options-wrapper .quick-option-list{padding:27px}.tm-demo-options-wrapper .quick-option-list:after{content:'';clear:both}.tm-demo-options-wrapper .quick-option-list a{float:left;width:calc(50% - 10px);text-align:center;margin-right:20px;margin-bottom:20px}.tm-demo-options-wrapper .quick-option-list a:nth-child(even){margin-right:0}.tm-demo-options-wrapper .quick-option-list img{width:100%;-webkit-transition:all .3s;transition:all .3s;box-shadow:0 7px 20px rgba(0,0,0,.1);border-radius:5px}.tm-demo-options-wrapper .quick-option-list img:hover{-webkit-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px);box-shadow:0 10px 25px rgba(0,0,0,.2)}.tm-demo-options-wrapper .quick-option-list h6{margin-top:5px}@media screen and (max-width:1200px){#wp-admin-bar-new_draft,#wp-admin-bar-vc_inline-admin-bar-link{display:none}}#page-ruler-toolbar input[type=number]{height:20px;color:#fff!important;background-color:transparent!important}#page-ruler-toolbar .page-ruler-px-container.page-ruler-px-container:after{right:15px!important;color:#ccc!important}
/*# sourceMappingURL=assets/scss/sourcemap/style.css.map */
