.tm-swiper {
	position: relative;
	z-index: 1;
	
	.swiper-container {
		width: 100%;
	}
	
	.swiper-slide {
		box-sizing: border-box;
	}
	
	&.auto-slide-wide {
		.swiper-slide {
			width: auto;
			img {
				width: auto;
			}
		}
	}
	
	&.has-pagination {
		margin-bottom: 36px;
	}
	
	&.auto-height {
		> .swiper-container {
			> .swiper-wrapper {
				height: auto !important;
			}
		}
	}
	
	&.equal-height {
		> .swiper-container {
			> .swiper-wrapper {
				display: flex;
				align-items: stretch;
				> .swiper-slide {
					display: flex;
					height: auto;
				}
			}
		}
	}
	
	&.v-center {
		> .swiper-container {
			> .swiper-wrapper {
				> .swiper-slide {
					display: flex;
					align-self: center;
				}
			}
		}
	}
	
	&.h-center {
		> .swiper-container {
			> .swiper-wrapper {
				> .swiper-slide {
					display: flex;
					justify-content: center;
				}
			}
		}
	}
	
	&.c-bottom {
		> .swiper-container {
			> .swiper-wrapper {
				align-items: flex-end;
			}
		}
	}
	
	&.equal-height.v-center {
		> .swiper-container {
			> .swiper-wrapper {
				> .swiper-slide {
					align-self: auto;
					> div {
						align-self: center;
					}
				}
			}
		}
	}
	
	.swiper-pagination {
		position: absolute;
		bottom: -36px;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 1;
		user-select: none;
	}
	
	.swiper-pagination-bullet {
		box-sizing: border-box;
		margin: 0 5px;
		width: 16px;
		height: 16px;
		border: 0;
		background: transparent;
		vertical-align: middle;
		opacity: 1;
		position: relative;
		
		&:hover,
		&.swiper-pagination-bullet-active {
			&:before {
				width: 100%;
				height: 100%;
				background: none !important;
				border: 1px solid #000000;
			}
		}
		
		&.swiper-pagination-bullet-active {
			cursor: default;
		}
		
		&:before {
			@extend %transit2;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 100%;
			width: 10px;
			height: 10px;
			transform: translate(-50%, -50%);
			background: rgba(69, 69, 69, .2);
			z-index: 1;
		}
	}
	
	.swiper-nav-button {
		@extend %transit2;
		background-image: none;
		text-align: center;
		user-select: none;
		width: 50px;
		height: 50px;
		font-size: 24px;
		color: #9b9b9b;
		border: 2px solid #eeeeee;
		border-radius: 50%;
		box-shadow: 0 0 5px rgba(0, 0, 0, .01);
		
		&.swiper-button-disabled {
			display: none;
		}
		
		&:hover {
			color: #ffffff;
		}
		
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			line-height: 1;
			display: inline-block;
			font: normal normal normal 14px/1 'Ionicons';
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	
	.swiper-button-prev {
		left: 30px;
		i {
			&:before {
				content: '\f2ca';
			}
		}
	}
	
	.swiper-button-next {
		right: 30px;
		i {
			&:before {
				content: '\f30f';
			}
		}
	}
	
	&.nav-style-2 {
		.swiper-nav-button {
			color: #ffffff;
			border: 2px solid #ffffff;
			&:hover {
				background: #ffffff;
			}
		}
	}
	
	&.nav-style-3 {
		.swiper-nav-button {
			color: rgba(255, 255, 255, .5);
			border: 0;
			font-size: 60px;
			
			&:hover {
				color: #ffffff;
				background: none;
			}
		}
		
		.swiper-button-prev {
			left: -70px;
			i {
				&:before {
					content: '\f3d2';
				}
			}
		}
		
		.swiper-button-next {
			right: -70px;
			i {
				&:before {
					content: '\f3d3';
				}
			}
		}
	}
	
	&.pagination-style-2 {
		
		margin-bottom: 0 !important;
		
		.swiper-pagination {
			width: auto;
			top: 50%;
			right: 50px;
			bottom: auto;
			left: auto;
			transform: translate(0, -50%);
		}
		
		.swiper-pagination-bullet {
			display: block;
			margin: 0;
			+ .swiper-pagination-bullet {
				margin-top: 15px;
			}
		}
	}
	
	&.pagination-style-3 {
		
		margin-bottom: 0 !important;
		
		.swiper-pagination {
			width: auto;
			top: auto;
			bottom: 48px;
			right: auto;
			left: 90px;
			transform: none;
		}
		
		.swiper-pagination-bullet {
			&:before {
				background: rgba(255, 255, 255, .4);
			}
		}
	}
	
	&.pagination-style-4 {
		
		margin-bottom: 0 !important;
		
		.swiper-pagination {
			width: auto;
			top: 50%;
			right: 50px;
			bottom: auto;
			left: auto;
			transform: translate(0, -50%);
		}
		
		.swiper-pagination-bullet {
			display: block;
			margin: 0;
			+ .swiper-pagination-bullet {
				margin-top: 4px;
			}
		}
		
		.swiper-pagination-bullet {
			width: 60px;
			
			&:before {
				width: 50%;
				height: 3px;
				border-radius: 3px;
				background: #ededed;
				right: 10px;
				left: auto;
				transform: translate(0, -50%);
			}
			
			&.swiper-pagination-bullet-active {
				&:before {
					width: 100%;
					right: 0;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.tm-swiper {
		&.pagination-style-2 {
			.swiper-pagination {
				right: 100px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-swiper {
		&.pagination-style-3 {
			.swiper-pagination {
				left: 30px;
				bottom: 30px;
			}
		}
	}
}
