.tm-box-icon {
	@extend %clearfix;
	margin-bottom: 60px;
	position: relative;
	
	.icon {
		line-height: 1;
	}
	
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.content-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	
	.tm-svg {
		line-height: 0;
		* {
			stroke: currentColor;
		}
	}
	
	&.style-1 {
		.icon {
			font-size: 48px;
			color: #cccccc;
		}
		
		.tm-svg {
			width: 48px;
		}
		
		.icon,
		.image {
			margin-bottom: 20px;
		}
		
		.heading {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 21px;
		}
	}
	
	&.style-2 {
		
		&:hover {
			.image {
				transform: translateY(-10px);
			}
		}
		
		.content-wrap {
			@extend %transit2;
			padding: 30px 0;
		}
		
		.icon {
			font-size: 48px;
			color: #cccccc;
		}
		
		.tm-svg {
			width: 48px;
		}
		
		.image {
			@extend %transit2;
		}
		
		.icon,
		.image {
			margin-bottom: 20px;
		}
		
		.heading {
			font-size: 24px;
			margin-bottom: 21px;
			font-weight: 700;
		}
		
		.tm-button.style-text {
			font-size: 14px;
		}
		
		.button-icon {
			display: none;
		}
	}
	
	&.style-3 {
		.box-header {
			display: flex;
			margin-bottom: 25px;
			align-items: center;
		}
		
		.icon {
			margin-right: 19px;
			min-width: 36px;
			font-size: 34px;
			line-height: 1;
		}
		
		.tm-svg {
			width: 34px;
		}
		
		.image {
			margin-bottom: 20px;
		}
		
		.heading {
			font-size: 18px;
			font-weight: 700;
		}
	}
	
	&.style-4 {
		&:hover {
			.icon {
				&:before {
					width: 120px;
					height: 120px;
					opacity: 1;
					background: rgba(255, 255, 255, .2);
					transform: translate(-50%, -50%), scale(1);
				}
				
				&:after {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
		
		.icon {
			@extend %transit2;
			position: relative;
			font-size: 40px;
			width: 132px;
			height: 132px;
			text-align: center;
			border-radius: 50%;
			
			&:before,
			&:after {
				@extend %transit2;
				content: '';
				position: absolute;
				border-radius: 50%;
			}
			
			&:before {
				width: 132px;
				height: 132px;
				background: rgba(255, 255, 255, .1);
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			
			&:after {
				width: 140px;
				height: 140px;
				background: rgba(255, 255, 255, .1);
				left: -4px;
				top: -4px;
				opacity: 0;
				transform: scale(.8);
			}
			
			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				display: block;
				width: 100px;
				height: 100px;
				line-height: 100px;
				box-shadow: 0 0 49px rgba(0, 0, 0, .07);
				background: #ffffff;
			}
			
			.tm-svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				display: block;
				width: 100px;
				height: 100px;
				line-height: 100px;
				box-shadow: 0 0 49px rgba(0, 0, 0, .07);
				background: #ffffff;
			}
		}
		
		svg {
			width: 40px;
		}
		
		.icon,
		.image {
			margin-bottom: 34px;
		}
		
		.heading {
			font-size: 24px;
			font-weight: 700;
		}
		
		.text {
			margin-top: 19px;
			max-width: 300px;
		}
	}
	
	&.style-5 {
		
		&:hover {
			
			.icon {
				box-shadow: 0 2px 47px rgba(0, 0, 0, .13);
				color: #ffffff;
			}
			
		}
		
		.icon {
			@extend %transit2;
			position: relative;
			font-size: 34px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			text-align: center;
			background: #ffffff;
			box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
			
			span,
			.tm-svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		
		.tm-svg {
			width: 34px;
		}
		
		.icon,
		.image {
			margin-bottom: 25px;
		}
		
		.heading {
			font-size: 24px;
		}
		
		.text {
			margin-top: 19px;
			max-width: 300px;
		}
	}
	
	&.style-6 {
		.icon {
			font-size: 100px;
		}
		
		.tm-svg {
			width: 100px;
		}
		
		.icon,
		.image {
			margin-bottom: 20px;
		}
		
		.heading {
			font-size: 24px;
			margin-bottom: 16px;
		}
		
		.tm-box-icon__btn {
			margin-top: 36px;
			opacity: 1;
			color: #ffffff;
			font-size: 14px;
			
			.button-icon {
				font-size: 14px;
			}
		}
	}
	
	&.style-7 {
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		padding: 52px 30px 74px;
		background-color: #ffffff;
		box-shadow: 0 0 41px 10px rgba(0, 0, 0, 0.03);
		
		.content-wrap {
			max-width: 290px;
		}
		
		.icon {
			font-size: 48px;
			margin-bottom: 22px;
		}
		
		.tm-svg {
			width: 48px;
		}
		
		.image {
			margin-bottom: 20px;
		}
		
		.heading {
			font-size: 24px;
			font-weight: 700;
		}
		
		.text {
			margin-top: 22px;
		}
	}
	
	&.style-8 {
		.icon {
			position: relative;
			font-size: 34px;
			width: 100px;
			height: 100px;
			border: 3px dashed blue;
			border-radius: 50%;
			text-align: center;
			background: #ffffff;
			opacity: .3;
			
			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		
		.tm-svg {
			width: 34px;
		}
		
		.icon,
		.image {
			margin-bottom: 25px;
		}
		
		.heading {
			font-size: 24px;
		}
		
		.text {
			margin-top: 19px;
			max-width: 300px;
		}
	}
	
	&.style-9 {
		@extend %transit2;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		padding: 72px 30px 26px;
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0 0 30px rgba(0, 0, 0, .05);
		
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 2px 30px rgba(0, 0, 0, .1);
		}
		
		.content-wrap {
			max-width: 290px;
		}
		
		.icon {
			font-size: 48px;
			margin-bottom: 22px;
		}
		
		.tm-svg {
			width: 48px;
		}
		
		.image {
			display: flex;
			align-items: center;
			margin-bottom: 54px;
		}
		
		.heading {
			font-size: 24px;
			font-weight: 700;
		}
		
		.text {
			margin-top: 22px;
		}
	}
	
	&.style-10 {
		@extend %transit2;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		padding: 67px 30px 56px;
		background-color: #ffffff;
		border-radius: 5px;
		box-shadow: 0 0 30px rgba(0, 0, 0, .05);
		
		&:hover {
			transform: translateY(-10px);
			box-shadow: 0 2px 30px rgba(0, 0, 0, .17);
		}
		
		.content-wrap {
			max-width: 290px;
		}
		
		.icon {
			font-size: 48px;
			margin-bottom: 22px;
		}
		
		.tm-svg {
			width: 48px;
		}
		
		.image {
			display: flex;
			align-items: center;
			margin-bottom: 54px;
		}
		
		.heading {
			font-size: 24px;
		}
		
		.text {
			margin-top: 22px;
		}
		
		.button-icon {
			display: none;
		}
		
		.btn-text {
			font-size: 14px;
		}
	}
	
	&.style-11 {
		@extend %transit2;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		padding: 67px 30px 68px;
		background-color: #ffffff;
		border-radius: 5px;
		border: 1px solid #ededed;
		
		&:hover {
			transform: translateY(-10px);
			border-color: #ffffff;
			box-shadow: 0 15px 30px rgba(0, 0, 0, .05);
		}
		
		.content-wrap {
			max-width: 330px;
		}
		
		.icon {
			font-size: 48px;
			margin-bottom: 22px;
		}
		
		.tm-svg {
			width: 48px;
		}
		
		.image {
			display: flex;
			align-items: center;
			margin-bottom: 54px;
		}
		
		.heading {
			font-size: 24px;
		}
		
		.text {
			margin-top: 22px;
		}
		
		.button-icon {
			display: none;
		}
		
		.btn-text {
			font-size: 14px;
		}
	}
	
	&.style-12 {
		margin-bottom: 30px;
		
		&:hover {
			.icon {
				color: #ffffff;
			}
			
			.heading {
				color: #ffffff;
			}
			
			.text {
				color: #ffffff;
			}
			
			.tm-box-icon__btn {
				color: #ffffff;
			}
		}
		
		.content-wrap {
			@extend %transit2;
			padding: 61px 25px 87px;
			background: #ffffff;
			border-bottom: 3px solid #222222;
		}
		
		.icon {
			font-size: 50px;
			margin-bottom: 28px;
		}
		
		svg {
			width: 50px;
		}
		
		.image {
			margin-bottom: 30px;
			
			img {
				width: 100%;
			}
		}
		
		.heading {
			@extend %transit2;
			line-height: 1.25;
			font-weight: 600;
			font-size: 20px;
			margin-bottom: 30px;
		}
		
		.text {
			@extend %transit2;
			font-size: 15px;
		}
		
		.tm-box-icon__btn {
			margin-top: 27px;
		}
	}
	
	&.style-13 {
		margin-bottom: 30px;
		
		&:hover {
			.content-wrap {
				background: #ffffff;
				box-shadow: 0 16px 40px rgba(237, 237, 237, 1);
			}
		}
		
		.content-wrap {
			@extend %transit2;
			padding: 43px 25px 51px;
			border-radius: 4px;
			border-bottom: 4px solid transparent;
		}
		
		.icon {
			font-size: 48px;
			margin-bottom: 35px;
		}
		
		.tm-svg,
		svg {
			width: 48px;
			height: 48px;
		}
		
		.image {
			margin-bottom: 30px;
			
			img {
				width: 100%;
			}
		}
		
		.heading {
			line-height: 1.16;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 17px;
		}
		
		.tm-box-icon__btn {
			margin-top: 27px;
		}
	}
	
	&.style-14 {
		margin-bottom: 30px;
		
		&:hover {
			.content-wrap {
				transform: translateY(-10px);
			}
		}
		
		.content-wrap {
			@extend %transit2;
			padding: 67px 40px 64px;
			border-radius: 4px;
			background: #ffffff;
			box-shadow: 0 16px 40px rgba(237, 237, 237, 1);
		}
		
		.icon {
			font-size: 64px;
			margin-bottom: 35px;
		}
		
		.tm-svg,
		svg {
			width: 64px;
			height: 64px;
		}
		
		.image {
			margin-bottom: 30px;
			
			img {
				width: 100%;
			}
		}
		
		.heading {
			line-height: 2;
			font-weight: 400;
			font-size: 15px;
			letter-spacing: 3px;
			text-transform: uppercase;
			margin-bottom: 17px;
			color: inherit;
		}
		
		.text {
			font-size: 18px;
			font-weight: 700;
			line-height: 1.77;
		}
		
		.tm-box-icon__btn {
			margin-top: 27px;
		}
	}
	
	&.style-15 {
		.content-wrap {
			position: relative;
			padding-left: 50px;
		}
		
		.icon {
			position: absolute;
			top: 40px;
			left: 0;
			font-size: 32px;
			color: #d8d8d8;
		}
		
		.tm-svg {
			width: 32px;
		}
		
		.image {
			margin-bottom: 20px;
		}
		
		.heading {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
			line-height: 1.7;
			margin-bottom: 19px;
		}
		
		.text {
			font-size: 15px;
		}
	}
	
	.tm-box-icon__btn {
		margin-top: 41px;
		opacity: .5;
		
		&:hover {
			opacity: 1;
		}
		
		.button-icon {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			transform: none;
		}
	}
}

@include media-breakpoint-up(lg) {
	.tm-box-icon {
		&.style-1,
		&.style-2 {
			.icon,
			.image {
				margin-bottom: 22px;
			}
		}
	}
}
