.tm-blog {
	.tm-grid {
		@extend %clearfix;
	}
	
	.tm-filter-button-group {
		padding-bottom: 93px;
	}
	
	.btn-filter {
		font-size: 16px;
		font-weight: 500;
	}
	
	.post-item {
		box-sizing: border-box;
		word-wrap: break-word;
	}
	
	.format-gallery {
		.swiper-pagination {
			bottom: 27px;
			.swiper-pagination-bullet {
				&:before {
					background: #ffffff;
				}
			}
		}
	}
	
	.post-title {
		a {
			color: inherit;
			font-size: inherit;
		}
	}
	
	.post-categories {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
		a {
			color: inherit;
			font-size: inherit;
		}
	}
	
	.post-audio {
		margin-bottom: -8px;
		iframe {
			width: 100%;
			height: 145px;
			border: 0;
		}
	}
	
	.post-link {
		margin-bottom: 14px;
		a {
			letter-spacing: -.02em;
			font-size: 20px;
			line-height: 1.2;
		}
	}
	
	.post-quote {
		padding: 55px 35px 47px;
		background: url('assets/images/blog-quote-icon.png') no-repeat;
		background-position: top 0 right 2px;
		.post-quote-text {
			margin-bottom: 18px;
			color: #ffffff;
			font-weight: 500;
			font-size: 22px;
			line-height: 1.3;
		}
		.post-quote-name {
			position: relative;
			padding-left: 40px;
			letter-spacing: -.02em;
			font-style: italic;
			font-size: 16px;
			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 29px;
				height: 1px;
				background-color: #ffffff;
				content: '';
			}
			a {
				color: #ffffff;
			}
		}
	}
	
	.post-excerpt {
		p:last-child {
			margin-bottom: 0;
		}
	}
	
	&.style-list {
		@extend %clearfix;
		.post-item {
			margin-bottom: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #ededed;
		}
		
		.post-thumbnail {
			position: relative;
			text-align: center;
		}
		
		.post-feature {
			margin-bottom: 25px;
		}
		
		.post-title {
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.5;
		}
		
		.post-meta {
			margin-bottom: 23px;
			font-size: 14px;
			> * {
				display: inline-block;
				margin-right: 17px;
			}
			[class*=ion-] {
				margin-right: 7px;
				&:before {
					font-weight: 500;
				}
			}
		}
		
		.post-categories {
			margin-bottom: 13px;
		}
		
		.post-date {
			font-size: inherit;
		}
		
		.post-excerpt {
			margin-bottom: 37px;
		}
		
		.post-footer {
			display: flex;
			align-items: center;
		}
		
		.post-footer-left {
			flex-grow: 1;
		}
		
		.post-footer-right {
			flex-shrink: 0;
		}
	}
	
	&.style-small_image_list {
		.post-item {
			margin-bottom: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #ededed;
		}
		
		.post-item-wrap {
			display: flex;
		}
		
		.post-thumbnail {
			position: relative;
			text-align: center;
			width: 300px;
			padding-right: 30px;
			flex-shrink: 0;
		}
		
		.post-info {
			position: relative;
			flex-grow: 1;
		}
		
		.post-title {
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.5;
		}
		
		.post-meta {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			font-size: 14px;
			> * {
				display: inline-block;
				margin-right: 17px;
			}
			[class*=ion-] {
				margin-right: 7px;
				&:before {
					font-weight: 500;
				}
			}
		}
		
		.post-categories {
			margin-top: -5px;
			margin-bottom: 13px;
		}
		
		.post-date {
			font-size: inherit;
		}
		
		.post-excerpt {
			margin-bottom: 55px;
		}
	}
	
	&.style-grid_classic,
	&.style-grid_masonry {
		.post-wrapper {
			@extend %transit2;
			background: #ffffff;
			box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
			border-radius: 5px;
			height: 100%;
			overflow: hidden;
			
			&:hover {
				box-shadow: 0 2px 47px rgba(0, 0, 0, .17);
				transform: translateY(-10px);
			}
		}
		
		.post-feature {
			img {
				width: 100%;
			}
		}
		
		.post-info {
			padding: 0 30px 90px;
		}
		
		.post-feature {
			margin-bottom: 34px;
		}
		
		.post-categories {
			margin-bottom: 13px;
			text-align: center;
		}
		
		.post-link {
			padding: 50px 30px;
			text-align: center;
			
			a {
				color: #ffffff;
			}
		}
		
		.post-title {
			text-align: center;
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.5;
		}
		
		.post-meta {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			padding: 18px 30px;
			border-top: 1px solid #f3f3f3;
		}
		
		.post-meta-left {
			flex-grow: 1;
		}
		
		.post-meta-right {
			display: flex;
			flex-shrink: 0;
		}
		
		.post-likes {
			margin-left: 25px;
		}
		
		.post-view {
			span {
				margin-right: 6px;
			}
		}
		
		.sl-icon {
			margin-right: 10px;
		}
	}
	
	&.style-grid,
	&.style-carousel {
		.post-item {
			@extend %transit2;
			overflow: hidden;
			padding: 55px 35px 198px;
			border: 1px solid #eeeeee;
			background: #ffffff;
			&:hover {
				.post-title {
					color: #ffffff;
				}
				.post-footer {
					border-color: rgba(238, 238, 238, .2);
				}
				.post-read-more {
					.btn-text {
						color: #ffffff;
					}
				}
				.post-date {
					color: #ffffff;
				}
				.post-overlay {
					visibility: visible;
					opacity: .9;
				}
				.post-feature {
					visibility: visible;
					opacity: 1;
				}
				.post-excerpt {
					color: #ffffff;
				}
			}
		}
		.post-title {
			margin-bottom: 15px;
			letter-spacing: -.02em;
			font-weight: 500;
			font-size: 26px;
			line-height: 1.2;
			a {
				@extend %transit2;
			}
		}
		.post-meta {
			margin-bottom: 20px;
			font-size: 14px;
			> div {
				display: inline-block;
			}
		}
		.post-categories {
			a {
				@extend %transit2;
				color: inherit;
				font-weight: 500;
				font-size: inherit;
			}
		}
		.post-excerpt {
			@extend %transit2;
		}
		.post-date {
			@extend %transit2;
			font-size: inherit;
		}
		.post-footer {
			@extend %transit2;
			position: absolute;
			right: 35px;
			bottom: 0;
			left: 35px;
			padding: 29px 0;
			border-top: 1px solid #eeeeee;
		}
		.post-feature {
			@extend %transit2;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			visibility: hidden;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
		}
		.post-overlay {
			@extend %transit2;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			visibility: hidden;
			opacity: 0;
		}
	}
	
	&.style-metro {
		.post-item {
			overflow: hidden;
			&:hover {
				.post-thumbnail {
					transform: scale3d(1.15, 1.15, 1.15);
				}
			}
		}
		.post-thumbnail {
			transition: all 1s cubic-bezier(0, 0, 0.2, 1);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.post-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .6);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
		}
		.post-info {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 55px 48px;
			width: 100%;
		}
		.post-title {
			margin-bottom: 4px;
			color: #ffffff;
			letter-spacing: -.02em;
			font-weight: 600;
			font-size: 20px;
			line-height: 1.2;
		}
		.post-meta {
			color: #ffffff;
			font-size: 14px;
			> div {
				display: inline-block;
			}
		}
		.post-categories {
			a {
				color: inherit;
				font-weight: 500;
				font-size: inherit;
				&:hover {
					color: #ffffff;
				}
			}
		}
		.post-date {
			color: inherit;
			font-size: inherit;
		}
		.post-footer {
			position: absolute;
			right: 55px;
			bottom: 0;
			left: 55px;
			padding: 15px 0 19px;
			border-top: 1px solid rgba(238, 238, 238, .2);
			text-align: right;
		}
		.post-read-more {
			.btn-text {
				color: #ffffff;
			}
		}
	}
	
	&.skin-light {
		.post-title {
			a {
				color: #ffffff;
			}
		}
		
		.post-meta,
		.sl-count {
			color: #aaaaaa;
		}
		
		.post-excerpt {
			color: #aaaaaa;
		}
	}
}
