.tm-mailchimp-form {
	.subscribe-form {
		display: flex;
		margin: 0 -15px;
	}
	
	.form-item {
		padding: 0 15px;
		&.flex-auto {
			flex-grow: 1;
		}
		
		&.flex-shrink {
			flex-shrink: 0;
		}
	}
	
	button {
		i {
			display: none;
		}
	}
	
	&.style-1 {
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		margin: 0 auto;
		
		input[type=email] {
			background: #ffffff;
			padding: 3px 155px 3px 20px;
			
			&::-webkit-input-placeholder {
				color: #cccccc;
			}
			
			&:-moz-placeholder {
				color: #cccccc;
			}
			
			&::-moz-placeholder {
				color: #cccccc;
			}
			
			&:-ms-input-placeholder {
				color: #cccccc;
			}
		}
		
		.form-submit {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 31px;
			border-radius: 0 5px 5px 0;
			color: #ffffff;
			border: 0;
		}
	}
	
	&.style-2 {
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		margin: 0 auto;
		
		input[type=email] {
			background: rgba(255, 255, 255, .21);
			padding: 3px 155px 3px 20px;
			border: 0;
			color: #ffffff;
			
			&::-webkit-input-placeholder {
				color: inherit;
			}
			
			&:-moz-placeholder {
				color: inherit;
			}
			
			&::-moz-placeholder {
				color: inherit;
			}
			
			&:-ms-input-placeholder {
				color: inherit;
			}
		}
		
		.form-submit {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 31px;
			border-radius: 0 5px 5px 0;
			background: #ffffff;
			border-color: #ffffff;
		}
	}
	
	&.style-3 {
		position: relative;
		border-radius: 5px;
		overflow: hidden;
		margin: 0 auto;
		
		input[type=email] {
			background: rgba(69, 69, 69, .3);
			padding: 3px 155px 3px 20px;
			border: 0;
			color: #ffffff;
			
			&::-webkit-input-placeholder {
				color: inherit;
			}
			
			&:-moz-placeholder {
				color: inherit;
			}
			
			&::-moz-placeholder {
				color: inherit;
			}
			
			&:-ms-input-placeholder {
				color: inherit;
			}
		}
		
		.form-submit {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0 31px;
			border-radius: 0 5px 5px 0;
			background: #ffffff;
			border-color: #ffffff;
		}
	}
}

@include media-breakpoint-only(xs) {
	.tm-mailchimp-form {
		&.style-1,
		&.style-2,
		&.style-3 {
			input[type=email] {
				padding: 3px 20px 3px 20px;
			}
			
			.form-submit {
				position: static;
				display: block;
				border-radius: 5px;
				margin: 20px auto 0;
			}
		}
	}
}
