.tm-product {
	
	&.style-grid {
		
		.product {
			margin-bottom: 30px;
		}
		
		.product-wrapper {
			@extend %transit2;
			position: relative;
			box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
			border-radius: 5px;
			background: #ffffff;
			height: 100%;
			overflow: hidden;
			
			&:hover {
				box-shadow: 0 0 41px rgba(0, 0, 0, .1);
				
				.product-action {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}
				
				.product-hover-image {
					z-index: 9;
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
			}
		}
		
		.product-thumbnail {
			margin-bottom: 28px;
		}
		
		.isw-product-swatched {
			.product-hover-image {
				opacity: 0 !important;
				visibility: hidden !important;
			}
		}
		
		.product-hover-image {
			transition: all .6s;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			transform: scale(.9);
		}
		
		.thumbnail {
			position: relative;
			
			img {
				width: 100%;
			}
		}
		
		.product-actions {
			position: absolute;
			top: 93px;
			right: 29px;
			z-index: 99;
		}
		
		.product-action {
			transition: all 0.5s ease-in-out;
			opacity: 0;
			visibility: hidden;
			transform: translateX(20px);
			display: block;
			margin: 0 0 10px !important;
		}
		
		.woocommerce_loop_add_to_cart_wrap {
			transition-delay: .1s;
		}
		
		.yith-wcwl-add-to-wishlist {
			transition-delay: .2s;
		}
		
		.yith-compare-btn {
			transition-delay: .3s;
		}
		
		.woocommerce_loop_add_to_cart_wrap a,
		.yith-wcwl-add-to-wishlist a,
		.quickview-icon,
		.yith-compare-btn .compare {
			position: relative;
			display: block;
			width: 48px;
			height: 48px;
			line-height: 48px;
			border-radius: 50%;
			color: #454545;
			font-size: 0 !important;
			padding: 0 !important;
			background: #ededed;
			border: 0;
			text-align: center;
			
			&:hover {
				color: #ffffff !important;
			}
			
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 20px;
				font-weight: 500;
				display: block;
				font-family: Ionicons;
				speak: none;
				font-style: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		
		.added_to_cart {
			display: none !important;
		}
		
		.quickview-icon {
			&:before {
				content: '\f4a4';
			}
		}
		
		.product_type_simple.add_to_cart_button {
			&:before {
				content: '\f3f8';
			}
		}
		
		.product_type_simple {
			&:before {
				content: '\f133';
			}
		}
		
		.product_type_variable {
			&:before {
				content: '\f3f8';
			}
		}
		
		.yith-compare-btn {
			a {
				&:before {
					content: '\f4a8';
				}
			}
		}
		
		.yith-wcwl-add-to-wishlist {
			a {
				&:before {
					content: '\f388';
				}
			}
		}
		
		.add_to_wishlist,
		.yith-compare-btn a.compare,
		.add_to_cart_button {
			&.loading {
				animation: load-spin 1.5s linear infinite !important;
				&:before {
					content: '\f459';
				}
			}
		}
		
		.yith-compare-btn a.compare {
			&.added {
				animation: none !important;
				&:before {
					content: '\f4a8';
				}
			}
		}
		
		.product-info {
			text-align: center;
			padding: 30px 30px 34px;
		}
		
		.woocommerce-loop-product__title {
			font-size: 24px;
			line-height: 1.16;
			margin-bottom: 15px;
		}
	}
	
	&.style-list {
		
		.product {
			margin-bottom: 30px;
		}
		
		.product-wrapper {
			@extend %transit2;
			position: relative;
			box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
			border-radius: 5px;
			background: #ffffff;
			height: 100%;
			overflow: hidden;
			
			&:hover {
				box-shadow: 0 0 41px rgba(0, 0, 0, .1);
				
				.product-hover-image {
					z-index: 9;
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
			}
		}
		
		.isw-product-swatched {
			.product-hover-image {
				opacity: 0 !important;
				visibility: hidden !important;
			}
		}
		
		.isw-swatches {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 10;
		}
		
		.product-hover-image {
			transition: all .6s;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			transform: scale(.9);
		}
		
		.thumbnail {
			position: relative;
			
			img {
				width: 100%;
			}
		}
		
		.add_to_cart_button {
			min-width: 180px;
			padding: 0 15px !important;
			text-align: center;
			
			&:before {
				display: inline-block;
				position: relative;
				top: 1px;
				margin-right: 10px;
				font-family: 'Ionicons';
				content: '\f3f8';
				font-size: 18px;
				line-height: 0;
			}
			
			&:after {
				display: none;
			}
		}
		
		.added_to_cart {
			display: none !important;
		}
		
		.yith-wcwl-add-to-wishlist a {
			position: relative;
			display: block;
			width: 48px;
			height: 48px;
			line-height: 48px;
			border-radius: 5px;
			text-align: center;
			color: #ababab;
			font-size: 0 !important;
			padding: 0 !important;
			background: #ffffff;
			border: 1px solid #ededed;
			
			&:before {
				display: block;
				font-size: 20px;
				font-weight: 500;
				font-family: Ionicons;
				content: '\f388';
				speak: none;
				font-style: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		
		.add_to_cart_button,
		.add_to_wishlist {
			&.loading {
				&:before {
					animation: load-spin 1.5s linear infinite !important;
					content: '\f459';
				}
			}
		}
		
		.product-info {
			padding: 27px 30px 43px 0;
		}
		
		.woocommerce-loop-product__title {
			font-size: 24px;
			line-height: 2;
			margin-bottom: 9px;
		}
		
		.price {
			display: block;
			margin-bottom: 20px;
		}
		
		.product-excerpt {
			margin-bottom: 29px;
		}
		
		.product-actions {
			display: flex;
			flex-wrap: wrap;
			margin: -5px;
		}
		
		.product-action {
			padding: 5px;
			
			.hint--bounce {
				display: block;
			}
		}
		
		.product-badges {
			top: 20px;
			left: 33px;
		}
	}
	
	&.style-grid-simple {
		
		.tm-grid {
			margin-bottom: 63px;
		}
		
		.product {
			transition: all 0.5s ease-in-out;
			position: relative;
			background: #ffffff;
			border-radius: 5px;
			box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
			margin-bottom: 30px;
			z-index: 1;
			
			&:hover {
				z-index: 3;
				
				&:after {
					bottom: -93px;
					opacity: 1;
				}
				
				.product-actions {
					transition: all 0.5s ease-in-out .15s;
					transform: translateY(0);
					visibility: visible;
					opacity: 1;
				}
			}
			
			&:after {
				transition: all 0.5s ease-in-out;
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
				border-radius: 5px;
				width: auto;
				background-color: #ffffff;
				z-index: -1;
				opacity: 0;
			}
		}
		
		.thumbnail {
			img {
				width: 100%;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}
		}
		
		.add_to_cart_button {
			min-width: 180px;
			padding: 0 15px !important;
			text-align: center;
			
			&:before {
				display: inline-block;
				position: relative;
				top: 1px;
				margin-right: 10px;
				font-family: 'Ionicons';
				content: '\f3f8';
				font-size: 18px;
				line-height: 0;
			}
			
			&:after {
				display: none;
			}
		}
		
		.added_to_cart {
			display: none !important;
		}
		
		.yith-wcwl-add-to-wishlist a {
			position: relative;
			display: block;
			width: 48px;
			height: 48px;
			line-height: 48px;
			text-align: center;
			border-radius: 5px;
			color: #ababab;
			font-size: 0 !important;
			padding: 0 !important;
			background: #ffffff;
			border: 1px solid #ededed;
			
			&:before {
				display: block;
				font-size: 20px;
				font-weight: 500;
				font-family: Ionicons;
				content: '\f388';
				speak: none;
				font-style: normal;
				font-variant: normal;
				text-transform: none;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		
		.add_to_wishlist,
		.add_to_cart_button {
			&.loading {
				&:before {
					animation: load-spin 1.5s linear infinite !important;
					content: '\f459';
				}
			}
		}
		
		.product-actions {
			background: #ffffff;
			position: absolute;
			bottom: -53px;
			left: 30px;
			right: 30px;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-20px);
			display: flex;
			flex-wrap: wrap;
			margin: -5px;
		}
		
		.product-action {
			padding: 5px;
			
			.hint--bounce {
				display: block;
			}
		}
		
		.product-info {
			padding: 30px 24px 29px 30px;
		}
		
		.main-info {
			display: flex;
			align-items: center;
		}
		
		.left-info {
			flex-grow: 1;
		}
		
		.woocommerce-loop-product__title {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		
		.product-categories {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 2px;
			text-transform: uppercase;
			a {
				color: inherit;
				font-size: inherit;
			}
		}
		
		.price {
			flex-shrink: 0;
			display: inline-block;
			background: #f8f8f8;
			border-radius: 50%;
			height: 56px;
			line-height: 56px;
			padding: 0 13px;
			text-align: center;
			
			del {
				display: none;
			}
		}
	}
	
	.product-ajax-filter {
		display: flex;
		align-items: center;
		margin-bottom: 70px;
		padding: 30px 0;
		border-bottom: 1px solid #ededed;
		
		.price_slider_wrapper {
			margin: 25px 0;
		}
		
		.widget_price_filter {
			width: 300px;
			padding: 0 30px;
			
			.price_slider {
				margin: 0;
			}
			
			.button {
				display: none;
			}
			
			.price_slider_amount {
				position: relative;
				font-size: 12px;
			}
			
			.price_label {
				position: absolute;
				top: 100%;
				left: 0;
				padding-top: 9px;
			}
		}
	}
	
	.filters {
		flex-grow: 1;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-left: -5px;
		margin-right: -5px;
		
		> div {
			padding: 0 5px;
		}
		
		select {
			background-color: #ffffff;
		}
	}
	
	.result-found-text {
		flex-shrink: 0;
		color: #ababab;
	}
}
