.tm-popup-video {
	
	.video-play {
		transition: all 1s cubic-bezier(0, 0, .2, 1) !important;
		&:hover {
			transform: scale3d(1.15, 1.15, 1.15);
		}
	}
	
	&.style-poster-01,
	&.style-poster-02,
	&.style-poster-03 {
		position: relative;
		
		.video-poster {
			position: relative;
			z-index: 2;
			
			img {
				border-radius: 5px;
				width: 100%;
			}
		}
		
		&:hover {
			.video-play {
				transform: translate(-50%, -50%) scale(1.2);
			}
		}
		
		.video-overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 3;
			border-radius: 5px;
			background: rgba(69, 69, 69, .2)
		}
		
		.video-play {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 72px;
			height: 72px;
			border-radius: 50%;
			color: #ffffff;
			border: 6px solid #ffffff;
			transform: translate(-50%, -50%);
			
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 38px;
				line-height: 1;
				transform: translate(-50%, -50%);
				margin-left: 2px;
			}
		}
	}
	
	&.style-poster-02 {
		margin-bottom: 33px;
		
		.video-overlay-mark {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			
			&:before {
				bottom: -33px;
				width: 56%;
				background: #cde5f8;
			}
			
			&:after {
				bottom: -17px;
				width: 82%;
				background: #9dd2fc;
				z-index: 1;
			}
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				height: 100%;
				transform: translate(-50%, 0);
				border-radius: 3px;
			}
		}
	}
	
	&.style-poster-03 {
		
		margin: 85px 0;
		
		.video-overlay-mark {
			position: absolute;
			left: -55px;
			width: 64%;
			top: -85px;
			bottom: -85px;
			background: #f7fbfe;
			border-radius: 5px;
		}
	}
	
	&.style-button {
		&:hover {
			.video-play {
				transform: scale(1.2);
			}
		}
		
		.video-play {
			position: relative;
			width: 72px;
			height: 72px;
			border-radius: 50%;
			color: #ffffff;
			border: 6px solid #ffffff;
			opacity: .7;
			
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 38px;
				line-height: 1;
				transform: translate(-50%, -50%);
				margin-left: 2px;
			}
		}
	}
	
	&.style-button-02 {
		&:hover {
			.video-play {
				transform: scale(1.2);
			}
		}
		
		.video-play {
			position: relative;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			color: #ffffff;
			border: 9px solid #ffffff;
			
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 54px;
				line-height: 1;
				transform: translate(-50%, -50%);
				margin-left: 2px;
			}
		}
	}
	
	&.style-button-03 {
		&:hover {
			.video-play {
				transform: scale(1.15);
			}
		}
		
		.video-play {
			position: relative;
			width: 90px;
			height: 90px;
			border-radius: 50%;
			color: #ffffff;
			background: #333333;
			
			&:before {
				position: absolute;
				content: '';
				border-radius: 50%;
				width: calc(100% + 30px);
				height: calc(100% + 30px);
				background: rgba(55, 55, 55, .05);
				left: -15px;
				top: -15px;
			}
			
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 30px;
				line-height: 1;
				transform: translate(-50%, -50%);
				margin-left: 2px;
			}
		}
	}
}
