.tm-view-demo {
	.item-wrap {
		transition: all .5s;
		
		&:hover {
			box-shadow: 0 0 49px rgba(0, 0, 0, .17);
			transform: translateY(-10px);
			
			.overlay {
				visibility: visible;
				opacity: .9;
			}
			
			.overlay-content {
				visibility: visible;
				opacity: 1;
				transition: .5s ease-out .3s;
				transform: translateY(0);
			}
			
			.heading {
				color: #ffffff;
			}
		}
	}
	
	.info {
		position: absolute;
		top: 0;
		left: 0;
		padding: 46px 30px 30px 52px;
	}
	
	.heading {
		font-size: 28px;
		line-height: 1.17;
		color: #9b9b9b;
		
		a {
			color: inherit;
		}
	}
	
	.thumbnail {
		position: relative;
		overflow: hidden;
		
		img {
			width: 100%;
		}
	}
	
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .3s;
	}
	
	.overlay-content {
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: translateY(-20px);
	}
	
	.overlay-content-inner {
		display: table;
		width: 100%;
		height: 100%;
	}
	
	.overlay-content-wrap {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	.tm-button.tm-button-view-demo {
		&:hover {
			color: #ffffff;
		}
	}
	
	.badge {
		position: absolute;
		top: -15px;
		left: -15px;
		width: 85px;
		height: 85px;
		background: transparent url(assets/images/new-badge.png) no-repeat;
		z-index: 999;
	}
}
