.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.tm-heading {
	&.center {
		.heading {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	a {
		font-size: inherit;
		color: inherit;
		position: relative;
		&:before {
			@extend %transit2;
			content: '';
			height: 1px;
			width: 0;
			background-color: currentColor;
			position: absolute;
			bottom: -2px;
			left: 0;
		}
		&:hover {
			color: inherit;
			&:before {
				width: 100%;
			}
		}
	}
	
	.icon {
		display: inline-block;
		vertical-align: bottom;
		margin-right: 9px;
	}
	
	&.modern-text {
		.heading {
			letter-spacing: 3px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	
	&.highlight-text-03,
	&.highlight-text-04 {
		
		.heading {
			line-height: 1.5;
		}
		
		mark {
			font-size: 83px;
			font-weight: 300;
			line-height: .9;
			float: left;
			padding-right: 17px;
		}
	}
	
	&.rotate-text {
		transform: rotate(90deg) translate(50%, -50%);
		transform-origin: top;
		
		.heading {
			font-weight: 700;
			line-height: 1.25;
			letter-spacing: .075em;
		}
	}
	
	&.modern-highlight-text {
		mark {
			font-size: 155px;
			font-weight: 900;
			letter-spacing: 4px;
			line-height: 1;
		}
	}
}

.highlight-text,
.typed-text,
.typed-text-2 {
	mark {
		background: none;
	}
}

.typed-text-2 {
	mark {
		font-style: italic;
	}
}

@include media-breakpoint-down(lg) {
	.tm-heading {
		&.modern-highlight-text {
			mark {
				font-size: 110px;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.tm-heading {
		&.modern-highlight-text {
			mark {
				font-size: 75px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-heading {
		&.rotate-text {
			transform: none;
		}
		
		&.modern-highlight-text {
			mark {
				font-size: 50px;
			}
		}
	}
}
