.vc_tta-tabs.vc_tta-tabs {
	&.vc_tta-color-primary {
		&.vc_tta-style-classic {
			.vc_tta-tab {
				> a {
					color: #ffffff;
				}
				&.vc_active {
					> a {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
						color: #666666;
					}
				}
			}
			.vc_tta-panel {
				.vc_tta-panel-title {
					> a {
						color: #ffffff;
					}
				}
				.vc_tta-panel-body {
					background-color: #f8f8f8;
				}
				.vc_tta-panel-body,
				.vc_tta-panel-body:before,
				.vc_tta-panel-body:after {
					border-color: #f0f0f0;
				}
				&.vc_active {
					.vc_tta-panel-title {
						> a {
							color: #666666;
						}
					}
					.vc_tta-panel-heading {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
					}
				}
			}
		}
		&.vc_tta-style-modern {
			.vc_tta-tab {
				> a {
					color: #ffffff;
				}
				&.vc_active {
					> a {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
					}
				}
			}
			.vc_tta-panel {
				.vc_tta-panel-title {
					> a {
						color: #ffffff;
					}
				}
				.vc_tta-panel-body {
					background-color: #f8f8f8;
					border-color: #f0f0f0;
				}
				&.vc_active {
					.vc_tta-panel-title {
						> a {
							color: #666666;
						}
					}
					.vc_tta-panel-heading {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
					}
				}
			}
		}
		&.vc_tta-style-flat {
			&:not(.vc_tta-o-no-fill) {
				.vc_tta-panel-body {
					color: #ffffff;
				}
			}
			.vc_tta-tab {
				> a {
					color: #ffffff;
				}
			}
			.vc_tta-panel {
				.vc_tta-panel-title {
					> a {
						color: #ffffff;
					}
				}
			}
		}
		&.vc_tta-style-outline {
			.vc_tta-tab {
				&:not(.vc_active) {
					> a {
						&:hover, &:focus {
							color: #ffffff;
						}
					}
				}
			}
			.vc_tta-panel {
				&:not(.vc_active) {
					.vc_tta-panel-heading {
						&:hover,
						&:focus {
							a {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.vc_tta-tabs.vc_tta-tabs {
		&.vc_tta-color-primary {
			&.vc_tta-style-classic {
				.vc_tta-panels {
					background-color: #f8f8f8;
				}
				.vc_tta-panels,
				.vc_tta-panels::after,
				.vc_tta-panels::before {
					border-color: #f0f0f0;
				}
			}
		}
	}
}

// Tabs.

.vc_tta-container {
	.vc_tta-tabs {
		&.vc_tta-style-leomes-03 {
			@extend %clearfix;
		}
	}
}

.vc_tta-tab {
	font-size: 20px;
	
	.wpb-js-composer .vc_tta.vc_tta.vc_tta-style-leomes-01 & {
		margin: 0;
		
		+ .vc_tta-tab {
			margin-left: 5px;
		}
		
	}
	
	.wpb-js-composer .vc_tta.vc_tta.vc_tta-style-leomes-02 & {
		margin: 0;
		
		+ .vc_tta-tab {
			margin-left: 30px;
		}
		
	}
	
}

.vc_tta-tabs-list {
	
	.wpb-js-composer .vc_tta.vc_tta.vc_tta-style-leomes-01 & {
		margin: 0;
		margin-bottom: -2px;
	}
	
	.wpb-js-composer .vc_tta-style-leomes-02 & {
		margin: -3px 0 -2px 0 !important;
	}
	
	.wpb-js-composer .vc_tta-style-leomes-03 & {
		margin-right: -2px !important;
	}
}

.vc_tta-tab > a {
	
	.wpb-js-composer .vc_tta-style-leomes-01 &,
	.wpb-js-composer .vc_tta-style-leomes-03 & {
		background: #f1f1f1;
	}
	
	.wpb-js-composer .vc_tta.vc_general.vc_tta-style-leomes-01 & {
		padding: 6px 18px;
	}
	
	.wpb-js-composer .vc_tta.vc_general.vc_tta-style-leomes-02 & {
		padding: 0;
	}
	
	.wpb-js-composer .vc_tta.vc_general.vc_tta-style-leomes-03 & {
		padding: 6px 20px;
	}
	
}

.wpb-js-composer .vc_tta-style-leomes-01.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-container,
.wpb-js-composer .vc_tta-style-leomes-01.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list,
.wpb-js-composer .vc_tta-style-leomes-02.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-container,
.wpb-js-composer .vc_tta-style-leomes-02.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list,
.wpb-js-composer .vc_tta-style-leomes-03.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-container,
.wpb-js-composer .vc_tta-style-leomes-03.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list {
	overflow: inherit;
}

.vc_tta-tab.vc_active {
	
	.wpb-js-composer .vc_tta-style-leomes-01 & {
		position: relative;
		color: #ffffff;
		
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -10px;
			width: 0;
			height: 0;
			border: 9px solid transparent;
		}
		
	}
	
	.wpb-js-composer .vc_tta-style-leomes-02 & {
		border-bottom: 2px solid red;
	}
	
	.wpb-js-composer .vc_tta-style-leomes-03 & {
		position: relative;
		color: #ffffff;
		
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -10px;
			right: -17px;
			width: 0;
			height: 0;
			border: 9px solid transparent;
		}
		
	}
	
}

.vc_tta-panels-container {
	
	.wpb-js-composer .vc_tta-style-leomes-01 & {
		border: 2px solid #eeeeee;
	}
	
	.wpb-js-composer .vc_tta-style-leomes-02 & {
		border-top: 2px solid #f5f5f5;
	}
	
}

.vc_tta-panel-body {
	.wpb-js-composer .vc_tta-style-leomes-01.vc_tta.vc_general & {
		padding: 30px 38px;
	}
	.wpb-js-composer .vc_tta-style-leomes-02.vc_tta.vc_general & {
		padding: 30px 0;
		border: 0;
	}
}

// Mobile Tabs
.vc_tta-panel-heading {
	
	.wpb-js-composer .vc_tta.vc_general.vc_tta-style-leomes-01 & {
		border: 0;
	}
	
}

.vc_tta-panel .vc_tta-panel-heading.vc_tta-panel-heading {
	.vc_tta.vc_general.vc_tta-style-leomes-01 &,
	.vc_tta.vc_general.vc_tta-style-leomes-02 &,
	.vc_tta.vc_general.vc_tta-style-leomes-03 & {
		border: 0;
		margin: 0;
	}
}

.vc_tta-panel + .vc_tta-panel {
	.vc_tta-panel-heading.vc_tta-panel-heading {
		.vc_tta.vc_general.vc_tta-style-leomes-01 &,
		.vc_tta.vc_general.vc_tta-style-leomes-02 &,
		.vc_tta.vc_general.vc_tta-style-leomes-03 & {
			border: 0;
			margin: 0;
			border-top: 2px solid #f1f1f1;
		}
	}
}

@include media-breakpoint-down(sm) {
	
	.wpb-js-composer .vc_tta-style-leomes-02.vc_tta.vc_general .vc_tta-panel-body {
		padding: 14px 20px;
	}
	
	.vc_tta-panels-container {
		
		.wpb-js-composer .vc_tta-style-leomes-02 &,
		.wpb-js-composer .vc_tta-style-leomes-03 & {
			border: 2px solid #eeeeee;
		}
		
	}
	
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-leomes-03 {
	@include media-breakpoint-up(md) {
		.vc_tta-tabs-container {
			width: 25%;
			float: left;
		}
		.vc_tta-panels-container {
			float: left;
			width: 75%;
		}
		.vc_tta-tab {
			display: block;
			margin-right: 0;
		}
		.vc_tta-panel-body {
			border: 2px solid #eeeeee;
			padding: 35px 40px;
		}
	}
}

